/* *{
    border:solid 2px red;
} */
body{
    background-color: rgb(219, 210, 210);
    margin: 5%;
}
h1{
    background-color:  antiquewhite;
    padding:12px ;
    margin: 0mm;
}
article{
    background-color:antiquewhite;
    padding: 2%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: black;
    border-style: solid;
}

aside{
    padding: 2%;
    float: right ;
    width: 15%;
    margin-left: 2%;   
    min-height: 80%;
    background-color: grey;
}
nav{
    font-size: x-large;
    background-color: grey;
}

section{
    background-color:rgb(219, 210, 210);
    margin-bottom: 2% ;
    width: 80%;
    padding: 2%;
}
pdat{
    color: grey;
}

psub{
    font-style: italic;
}
a{
    text-align: right;
}