@font-face {
    font-family: 'Ballpark';
    src: url(recursos/fonts/ballpark.eot);
    src:url(recursos/fonts/ballpark.ttf);
}
@font-face{
    font-family:  'Dayrom';
    src: url(recursos/fonts/dayrom.ttf);
}

/* *{
    border:solid 2px red;
    padding: 0.5%;
} */

body{
    background-color: #fff7da;
}


section{
    margin: 2%;
    width: 90%;
}
aside{
    
    float: right;
    width: 20%;
    background-color: grey;
    margin:2%;
}
article{
    width: 70%;
    
}

nav {
    float: right;
    display: inline;
    width: 70%;
    text-align: right;
   
}
nav li{
   list-style-type: none;
   display: inline;
   padding-right: 2px;
   text-transform: uppercase;
   font-family: 'Dayrom';
}
.rotate90{
    transform: rotate(90);
}
h2{
    text-transform: uppercase;
    font-family: 'Dayrom';
}

.logo{
    font-family: 'Ballpark';
    font-size: xx-large;
}